

.cart-product {
    border: 1px solid gray;
    border-radius: 4px;
    height: 80px;
    width: 100%;

    display: flex;
    margin-bottom: 10px;
    background-color: grey;
    padding: 5px 10px'
}

.cart-product img {
    height: 70px;
    width: 80px;
}

.cart-product .info {
    flex: 5;
    text-align: left;
}

.cart-product .info p {
    margin-bottom: 0;
}

.cart-product label {
    flex: 1;
}

.cart-product .total {
    font-weight: bold;
    font-size: 16px;
    color: red;
}